@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin "daisyui" {

  themes: all, emerald --default;
}


h1 {
    font-size: 150% !important;
    text-decoration: underline;
    
 
}

h1,h2{
    font-weight: bold !important;
    padding-bottom: 0.3em !important;
}

html {
    font-family: 'SBL BibLit';
}

@font-face {
    font-family: 'SBL BibLit';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/SBL_BibLit_Regular.ttf'); /* IE9 Compat Modes */
    src: local('SBL-BibLit'), local('SBL BibLit'), url('/fonts/SBL_BibLit_Regular.ttf?#iefix') format('truetype'),
        /* Modern Browsers */ url('/fonts/SBL_BibLit_Regular.ttf') format('truetype');
    
}

.greek, .hebrew {
    font-family: "SBL BibLit", "Gentium";
}

.column, .gospel {
    @apply border-4 rounded-lg;
}

.column .lex-unique {
    @apply outline-3;
}




.Mark{

}
.column-0, .column.Matt, .Matt, .column .Matt{
    /*
    --baseColor:  red;
    --borderColor: var(--color-red-900);
    --bgColor: var(--)
    bg-red-200/90
    */
     @apply bg-red-200/50 border-red-900 ;


}


div.bible-block {
    @apply bg-white/80;
    @apply border-slate-800/50 border-2 p-0.5 m-0 rounded-sm;
}

.column.other .other{
    @apply bg-base-200;
}

.gospel-column-unfocused {
    @apply bg-gray-200;
}

.column-1,  .column.Mark, .Mark{
    @apply bg-lime-100/80 border-lime-900;
    
    .lex-unique{
        @apply  pl-0.5 mr-0.5  outline-lime-700;
    }
}

.column-2,  .column.Luke, .Luke {
    @apply bg-sky-200/80 border-sky-900;
        
    .lex-unique{
        @apply  pl-0.5 mr-0.5  outline-sky-800;
    }
}
.column-3,  .column.John, .John {
    @apply bg-violet-200/80 border-violet-900;

    
    .lex-unique{
        @apply  pl-0.5 mr-0.5  outline-violet-500;
    }

}
.column-4 {
    @apply bg-amber-200 border-amber-900;
        
    .lex-unique{
        @apply  pl-0.5 mr-0.5  outline-amber-500;
    }

}

.bible-text-block .bible-ref {
    @apply text-lg;
}

.secondary .bible-text-block .bible-ref {
    @apply text-sm;
}